$white: rgba(255, 255, 255, 1);
$black: rgb(0, 0, 0);
//background main
$background-night-main: rgba(23, 33, 43, 1);
$background-day-main: rgb(186, 229, 229);
//background icon-menu
$background-icon-menu: rgba(0, 0, 0, 0.9);
//background blocks
$background-night-blocks: rgba(36, 47, 61, 1);
$background-day-blocks: rgb(240, 255, 255);
//text
$day-color-text: rgba(48,49,51,1);
$night-color-text: rgb(255, 255, 255);
//links
$link-hover: rgba(28, 189, 252, 1);

$calendar-button-background-color:#318eff;
$calendar-button-focus-hover:#81b9fe;
$calendar-button-disabled-color:#318eff;
